*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Segoe UI',sans-serif;
}
:root{
    --primary:#2563EB;
    --accent:#06B6D4;
    --background:#F8FAFC;
    --text:#0F172A;
    --gray:#64748B;
}
body{
background:var(--background);
color:var(--text);
}

header{
position:fixed;
top:0;
width:100%;
padding:20px 60px;
display:flex;
justify-content:space-between;
align-items:center;
background:rgba(255,255,255,.85);
backdrop-filter:blur(10px);
box-shadow:0 2px 15px rgba(0,0,0,.08);
z-index:1000;
}

.logo{
font-size:32px;
font-weight:700;
color:var(--primary);
}

nav a{
margin-left:32px;
text-decoration:none;
color:var(--text);
font-weight:600;
font-size:16px;
transition:0.3s;
position:relative;
}

nav a:hover{
color:var(--primary);
}

.hero{
min-height:100vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
text-align:center;
padding:120px 20px 80px;
max-width:900px;
margin:auto;
}

.hero h1{
font-size:60px;
font-weight:700;
line-height:1.1;
margin-bottom:20px;
color:var(--primary);
}

.hero p{
font-size:20px;
color:var(--gray);
max-width:700px;
margin-bottom:30px;
line-height:1.7;
}

button{
padding:18px 42px;
border:none;
border-radius:50px; 
margin-top:10px;
background:#0057ff;
color:white;
font-size:18px;
font-weight:bold;
cursor:pointer;
transition:.3s;
box-shadow:0 15px 30px rgba(0,87,255,.25);
}

button:hover{
transform:translateY(-4px);
box-shadow:0 20px 40px rgba(0,87,255,.35);
}
