body{
    margin:0;
    font-family:Arial, sans-serif;
    background:#f5fbff;
}

header{
    background:#0d6efd;
    color:white;
    padding:20px 60px;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.logo{
    font-size:32px;
    font-weight:bold;
}

nav a{
    color:white;
    text-decoration:none;
    margin-left:25px;
    font-weight:bold;
}

.hero{
    text-align:center;
    padding:120px 20px;
}

.hero h1{
    font-size:60px;
    color:#003366;
}

.hero p{
    font-size:22px;
    color:#666;
}

button{
    padding:15px 35px;
    border:none;
    border-radius:50px;
    background:#0d6efd;
    color:white;
    font-size:18px;
    cursor:pointer;
}
